transformers==4.52.4
transformers[sentencepiece]==4.52.4
fastapi==0.115.12
uvicorn==0.34.3
nltk==3.9.1
torch==2.6.0
sentence-transformers==3.2.1
open-clip-torch==2.29.0
sentencepiece==0.2.0
accelerate==1.7.0
