transformers==4.57.3
transformers[sentencepiece]==4.57.3
fastapi==0.122.1
uvicorn==0.38.0
nltk==3.9.2
torch==2.6.0
sentence-transformers==3.2.1
open-clip-torch==2.29.0
sentencepiece==0.2.0
accelerate==1.7.0
colpali-engine==0.3.13
