on:
  workflow_call:

jobs:
  build-image:
    name: Build image
    runs-on: ubuntu-latest-4-cores
    strategy:
      matrix:
        include:
          - clip_model_name: clip-ViT-B-32
            text_model_name: clip-ViT-B-32
            model_tag_name: sentence-transformers-clip-ViT-B-32
          - clip_model_name: clip-ViT-B-32
            text_model_name: sentence-transformers/clip-ViT-B-32-multilingual-v1
            model_tag_name: sentence-transformers-clip-ViT-B-32-multilingual-v1
          - clip_model_name: openai/clip-vit-base-patch16
            text_model_name: openai/clip-vit-base-patch16
            model_tag_name: openai-clip-vit-base-patch16
          - open_clip_model_name: ViT-B-16
            open_clip_pretrained: laion2b_s34b_b88k
            model_tag_name: ViT-B-16-laion2b_s34b_b88k
          - open_clip_model_name: ViT-B-32-quickgelu
            open_clip_pretrained: laion400m_e32
            model_tag_name: ViT-B-32-quickgelu-laion400m_e32
          - open_clip_model_name: xlm-roberta-base-ViT-B-32
            open_clip_pretrained: laion5b_s13b_b90k
            model_tag_name: xlm-roberta-base-ViT-B-32-laion5b_s13b_b90k
    env:
      LOCAL_REPO: multi2vec-clip
      REMOTE_REPO: semitechnologies/multi2vec-clip
      CLIP_MODEL_NAME: ${{matrix.clip_model_name}}
      TEXT_MODEL_NAME: ${{matrix.text_model_name}}
      OPEN_CLIP_MODEL_NAME: ${{matrix.open_clip_model_name}}
      OPEN_CLIP_PRETRAINED: ${{matrix.open_clip_pretrained}}
      MODEL_TAG_NAME: ${{matrix.model_tag_name}}
    steps:
      - uses: actions/checkout@v3
      - uses: actions/setup-python@v4
        with:
          python-version: "3.11"
      - name: Login to Docker Hub
        if: ${{ !github.event.pull_request.head.repo.fork }}
        uses: docker/login-action@v2
        with:
          username: ${{secrets.DOCKER_USERNAME}}
          password: ${{secrets.DOCKER_PASSWORD}}
      - name: Build and test
        run: |
          cicd/build.sh
          cicd/test.sh
      - name: Deploy
        if: startsWith(github.ref, 'refs/tags')
        env:
          DOCKER_USERNAME: ${{secrets.DOCKER_USERNAME}}
          DOCKER_PASSWORD: ${{secrets.DOCKER_PASSWORD}}
        run: cicd/docker_push.sh
  build-custom-image:
    name: Build custom image
    runs-on: ubuntu-latest
    env:
      LOCAL_REPO: multi2vec-clip
      REMOTE_REPO: semitechnologies/multi2vec-clip
    steps:
      - uses: actions/checkout@v3
      - uses: actions/setup-python@v4
        with:
          python-version: "3.11"
      - name: Login to Docker Hub
        if: ${{ !github.event.pull_request.head.repo.fork }}
        uses: docker/login-action@v2
        with:
          username: ${{secrets.DOCKER_USERNAME}}
          password: ${{secrets.DOCKER_PASSWORD}}
      - name: Build custom image
        run: cicd/build_custom_base.sh
      - name: Deploy
        if: startsWith(github.ref, 'refs/tags')
        env:
          DOCKER_USERNAME: ${{secrets.DOCKER_USERNAME}}
          DOCKER_PASSWORD: ${{secrets.DOCKER_PASSWORD}}
        run: cicd/docker_push_custom_base.sh
